.about{
	background-color: white;
}

.heading_about{
	padding: 30px;
	background-image: url("https://www.ottomate.com/media/wysiwyg/shutterstock_311546150_1.jpg");
}

.heading_about>h1{
	font-size: 24px;
	font-weight: 200;
	padding: 20px;

}

.about_content{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	align-items: center;
}

.about_content >img{
	width: 100%;
}

.mission{
	background-color: white;
	margin-top: 20px;
	padding: 20px;
}

.mission >h1{
	font-size: 24px;
	font-weight: 250;
	padding: 20px;
}

.mission >h2{
	font-size: 2vmax;
	font-weight: 200;
	max-height: 500px;
	padding: 20px;

}

.sarathi{
	color:#2e81f5;
	background-color: #fff;
}
